script(type="text/x-template")#reviews-list
  .reviews__header
    .reviews__title.section-title Что обо мне говорят
    .reviews__buttons
      .reviews__btn.reviews__btn_prev
      .reviews__btn
  .reviews__content
    .reviews__content-wrapper
      ul
        li.reviews__content-item(v-for="review in reviews" :key="review.id")
          .review__text {{review.text}}
          img(:src="review.pic" alt="").review__image
          .review__author {{review.author}}
          .review__desc {{review.desc}}