script(type="text/x-template")#reviews-list
  ul.reviews
    li.reviews__item(v-for="review in reviews" :key="review.id")
      review(
        :review="review"
      )

script(type="text/x-template")#review
  .review
    img(:src="review.pic" alt="").review__image
    .review__circle-text {{skillName}}