script(type="text/x-template")#reviews-list
  .reviews__header
  ul.reviews
    li.reviews__item(v-for="review in reviews" :key="review.id")
      .review
        .review__text {{review.text}}
        img(:src="review.pic" alt="").review__image
        .review__author {{review.author}}
        .review__desc {{review.desc}}